@import '../../../shared/styles/index.scss';

.wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: vw(10);

  .settings {
    display: flex;
    flex-direction: column;

    gap: vw(3);

    .setting {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      box-sizing: border-box;

      min-width: vw(300);
      min-height: vw(30);

      border-radius: vw(10);
      border-width: vw(3);
      border-color: #75d884;
      border-style: solid;

      padding: vw(10);
    }
  }


  .btns {
    gap: vw(4);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      width: vw(300);
      height: vw(30);
    }
  }

  .text {
    box-sizing: border-box;
    padding: vw(10);

    border-radius: vw(10);
    border-width: vw(3);
    border-color: #75d884;
    border-style: solid;

    width: vw(1200);
    cursor: default;
    // margin-left: auto;
    font-weight: 500;
    font-size: vw(20);
    line-height: vw(22);
    font-style: normal;  
    color: #75d884;
    margin: vw(50) 0 0 vw(50);
  }
}